build
dist
.vscode
pyion.egg-info

*.so

*.pyc

tests/mem_tests/*
tests/admin_tests/*
tests/image_app/*

tests/bp_tests/nodes/ion_nodes
tests/bp_tests/nodes/1/ion.log
tests/bp_tests/nodes/1/node.stdout
tests/bp_tests/nodes/1/node.stdout/data/*
tests/bp_tests/nodes/2/ion.log
tests/bp_tests/nodes/2/node.stdout
tests/bp_tests/nodes/2/node.stdout/data/*

tests/ltp_tests/nodes/ion_nodes
tests/ltp_tests/nodes/1/ion.log
tests/ltp_tests/nodes/1/node.stdout
tests/ltp_tests/nodes/1/node.stdout/data/*
tests/ltp_tests/nodes/2/ion.log
tests/ltp_tests/nodes/2/node.stdout
tests/ltp_tests/nodes/2/node.stdout/data/*

tests/cfdp_tests/nodes/ion_nodes
tests/cfdp_tests/nodes/1/ion.log
tests/cfdp_tests/nodes/1/node.stdout
tests/cfdp_tests/nodes/1/node.stdout/data/*
tests/cfdp_tests/nodes/2/ion.log
tests/cfdp_tests/nodes/2/node.stdout
tests/cfdp_tests/nodes/2/node.stdout/data/*


