# Files to ignore when downloading pyion as zip file
/.readthedocs.yaml      export-ignore
/.gitignore             export-ignore
/.gitattributes         export-ignore

# Normalize all files to have LF endings
* text=auto
