build
dist
.vscode
pyion.egg-info

*.so

*.pyc

tests/admin_tests/*
tests/cfdp_tests/*
tests/image_app/*
tests/ltp_tests/*
tests/mem_tests/*

tests/bp_tests/nodes/ion_nodes
tests/bp_tests/nodes/1/ion.log
tests/bp_tests/nodes/1/node.stdout
tests/bp_tests/nodes/2/ion.log
tests/bp_tests/nodes/2/node.stdout
