build
dist
.vscode
pyion.egg-info

*.so

*.pyc

tests/ltp_tests/nodes
tests/ltp_tests/nodes/1/ionstart
tests/ltp_tests/nodes/1/ionstop
tests/ltp_tests/nodes/1/ionstop
tests/ltp_tests/nodes/1/node.stdout
tests/ltp_tests/nodes/2/ionstart
tests/ltp_tests/nodes/2/ionstop
tests/ltp_tests/nodes/2/node.stdout
tests/ltp_tests/nodes/2/node.stdout
tests/ltp_tests/nodes/2/ionstop
tests/ltp_tests/nodes/1/ionstart
tests/ltp_tests/nodes/1/ionstop
tests/ltp_tests/nodes/2/ionstart
tests/ltp_tests/nodes/2/ionstop
